{% extends 'template.jinja2' %}
{% block content %}
<main class="faq-page">

    <section class="banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-6">
                    <div class="img">
                        <img src="../static/src/hero.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-7 col-6">
                    <div class="title text-right">{% trans %}Инструкция & Ответы на часто задаваемые вопросы{% endtrans %}</div>
                </div>

            </div>
        </div>
    </section>

    <section class="faq-guide">
        <div class="container">

            <div class="row">

                <div class="col-xl-8 col-12 mb-4">
                    <p>{% trans %}Выберите ниже инструкцию по пользованию бота и/или ответы на часто задаваемые вопросы к руководстве бота.{% endtrans %}</p>
                </div>

                <div class="col-12">
                    <ul class="legend">
                        <li class="mb-5"><span>1</span><a href="#instruction">{% trans %}Инструкция{% endtrans %}</a></li>
                        <li class="mb-5"><span>2</span><a href="#answer">{% trans %}Ответы на часто задаваемые вопросы{% endtrans %}</a></li>
                        <li class="mb-5"><span>3</span><a href="#other">{% trans %}Другое{% endtrans %}</a></li>
                    </ul>
                </div>

            </div>

            <div class="row justify-content-center" id="instruction">
                <div class="col-12 text-center">
                    <div class="title">{% trans %}Инструкция{% endtrans %}</div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="faq-instruction">

                        <div class="accordion" id="accordionInstruction">


                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                            <span class="number">#1</span>
                                            <span class="name">{% trans %}Начало работы{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordionInstruction">
                                    <div class="card-body">
                                        <ol class="ml-8 mb-8">
                                            <li>
                                                {% trans %}Напишите в <a href="https://t.me/cc_puzzle_bot" class="primary">личные сообщения</a> команду <code>/start</code> (кнопка «Запустить»).{% endtrans %}
                                                {% trans %}Появится клавиатура <img src="../static/src/Commands1.svg"> с множеством функций.{% endtrans %}
                                            </li>
                                            <br>
                                            <li>
                                                {% trans %}Telegram ID - ваш уникальный ID аккаунта в Telegram, который присваивается при регистрации.{% endtrans %}
                                            </li>
                                            <br>
                                            <li>
                                                {% trans %}Баланс CastleCoin. CastleCoin - валюта бота. Можно принимать участие в событиях игры, которые доступные в боте:{% endtrans %}
                                                {% trans %}Загадочный Пазл и Возвращение Домой. Детально с платными услугами можно ознакомиться на этой <a href="index#price" class="primary">странице</a>.{% endtrans %}
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            <span class="number">#2</span>
                                            <span class="name">{% trans %}Покупка; промокод; возврат средств{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionInstruction">
                                    <div class="card-body">
                                        <ol class="ml-8 mb-8">

                                            <div>
                                                <span class="number">#2.1</span>
                                                <span class="title ml-3">{% trans %}Покупка CastleCoin{% endtrans %}</span>
                                            </div>

                                            <ol class="ml-8 mb-8">
                                                <br>
                                                <li>
                                                    {% trans %}Откройте меню <img src="../static/src/Commands1.svg">, кнопка «Купить CastleCoin» >> выберите желаемую сумму для покупки.{% endtrans %}
                                                </li>
                                                <br>
                                                <li>
                                                    {% trans %}Можно разными способами пополнить баланс: самостоятельный перевод (с карты на карту), {% endtrans %}
                                                    {% trans %}сервис автооплаты ЮMoney и QIWI (доступно для игроков из Российской Федерации), {% endtrans %}
                                                    {% trans %}международный платежный сервис{% endtrans %} <a href="https://t.me/letsplaycastleclash/3255" class="primary">@donate</a>.
                                                </li>
                                            </ol>
                                            <div>
                                                <span class="number">#2.2</span>
                                                <span class="title ml-3">{% trans %}Промокод CastleCoin{% endtrans %}</span>
                                            </div>

                                            <ol class="ml-8">
                                                <br>
                                                <li>
                                                    {% trans %}В случайные дни запускаем промокод, который дает 20% скидку на покупку CastleCoin. {% endtrans %}
                                                    {% trans %}Подписывайтесь на <a href="https://t.me/letsplaycastleclash" class="primary">@letsplaycastleclash</a>, и следите за новостями о запуске промокодов.{% endtrans %}
                                                </li>
                                            </ol>
                                            <br>
                                            <div>
                                                <span class="number">#2.3</span>
                                                <span class="title ml-3">{% trans %}Возврат средств{% endtrans %}</span>
                                            </div>
                                            <br>
                                            <div class="ml-8 mb-4">{% trans %}Отменить подписку можно в течение <b>7 дней</b> после приобретения тарифа. {% endtrans %}
                                                {% trans %}Свяжитесь с нами через <a href="https://t.me/CCletsplay_bot" class="primary">@CCletsplay_bot</a>, предоставив чек, дату оплаты.{% endtrans %}
                                            </div>
                                            <div>
                                                <span class=" primary ml-8">{% trans %}Примечание:{% endtrans %}</span>
                                            </div>
                                            <ol class="ml-8">
                                                <li>
                                                    {% trans %}Возврат возможен только в том случае, если вы не пользовались нашими платными услугами во время действующих Акций.{% endtrans %}
                                                </li>
                                                <br>
                                                <li>
                                                    {% trans %}Возврат возможен только на тот счет, откуда производилась оплата.{% endtrans %}
                                                </li>
                                            </ol>

                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span class="number">#3</span>
                                            <span class="name">{% trans %}Возвращение домой{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionInstruction">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>

                                                <div>
                                                    <span class="number">#3.1</span>
                                                    <span class="title ml-3">{% trans %}Получение бесплатных попыток{% endtrans %}</span>
                                                </div>
                                                <div class="ml-8 mb-4">{% trans %}За неделю до окончания События, игроки могут воспользоваться бесплатными попытками (5/5). Об этом уведомляется заранее на канале {% endtrans %}
                                                    <a href="https://t.me/letsplaycastleclash"
                                                                 class="primary">@letsplaycastleclash</a>.
                                                </div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}Откройте страницу в игре «Возвращение Домой» >> нажмите и удерживайте код, чтобы скопировать.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <a href="https://t.me/cc_puzzle_bot" class="primary">@cc_puzzle_bot</a>
                                                        {% trans %}>> меню <img src="../static/src/Commands1.svg"> >> «Возвращение Домой».{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Отправьте ваш код >> "Использовать бесплатные попытки". После успешной обработки бот уведомит вас о завершении.{% endtrans %}
                                                    </li>
                                                </ol>

                                            </li>


                                            <li>

                                                <div>
                                                    <span class="number">#3.2</span>
                                                    <span class="title ml-3">{% trans %}Получение наград{% endtrans %}</span>
                                                </div>
                                                <div class="ml-8 mb-4"><a href="index#price" class="primary">{% trans %}Доступно в платной версии{% endtrans %}</a></div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}Откройте страницу в игре «Возвращение Домой» >> нажмите и удерживайте код, чтобы скопировать.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <a href="https://t.me/cc_puzzle_bot" class="primary">@cc_puzzle_bot</a>
                                                        {% trans %}>> меню <img src="../static/src/Commands1.svg"> >> «Возвращение Домой».{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Отправьте код >> Нажмите кнопку 10 или 15, чтобы выбрать число вводов кодов и получить награды >> ожидайте поступление Наград на почту.{% endtrans %}
                                                    </li>
                                                </ol>

                                                <div>
                                                    <span class=" primary ml-8">{% trans %}Примечание{% endtrans %}</span>
                                                </div>

                                                <ol class="ml-8">
                                                    <li>
                                                        {% trans %}Почта имеет ограничение в 60 слотов, своевременно забирайте награду после первого ввода кода. CastleCoin не будут возмещены на баланс, в случае утери Наград. {% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                            <span class="number">#4</span>
                                            <span class="name">{% trans %}Загадочный пазл{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionInstruction">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">

                                            <li>
                                                <div class="ml-8 mb-4"><a href="index#price" class="primary">{% trans %}Доступно в платной версии{% endtrans %}</a></div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}Меню <img src="../static/src/Commands1.svg"> >> «Загадочный пазл».{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Нажмите «Активировать доступ Загадочного Пазла» >> «Подтвердить покупку».{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Отлично! Теперь у вас активирован Загадочный Пазл. Приятного пользования.{% endtrans %}
                                                    </li>
                                                </ol>

                                                <div>
                                                    <span class=" primary ml-8">{% trans %}Примечание{% endtrans %}</span>
                                                </div>

                                                <ol class="ml-8">
                                                    <li>
                                                        {% trans %}На один игровой аккаунт можно взять до 30 Фрагментов за одну акцию по правилам События.{% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">
                                            <span class="number">#5</span>
                                            <span class="name">{% trans %}Великий торговец{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                     data-parent="#accordionInstruction">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>
                                                <ol class="ml-8 mb-8">
                                                    <li>
                                                        {% trans %}Откройте страницу в игре «Великий торговец» >> скопируйте код предмета.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <a href="https://t.me/cc_puzzle_bot" class="primary">@cc_puzzle_bot</a>
                                                        {% trans %}>> меню <img src="../static/src/Commands1.svg"> >> «Великий торговец».{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Отправьте код предмета, и ожидайте уведомление об обработки кода. Обработка одного кода займет не более 1 минуты. Возможны задержки, из-за очереди.{% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">
                                            <span class="number">#6</span>
                                            <span class="name">{% trans %}10 дней призов{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                     data-parent="#accordionInstruction">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>
                                                <ol class="ml-8 mb-8">
                                                    <li>
                                                        {% trans %}Откройте любого Героя в Алтаре Героев >> под Героем синяя кнопка «Рекомендация», нажмите.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Вас перенаправит на страницу браузера. Из строки скопируйте ссылку.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <a href="https://t.me/cc_puzzle_bot" class="primary">@cc_puzzle_bot</a>
                                                        {% trans %}>> меню <img src="../static/src/Commands1.svg"> >> «10 Дней Призов» >> отправьте ссылку боту.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Отлично! Ваша ссылка добавлена.{% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center" id="answer">
                <div class="col-12 text-center">
                    <div class="title">{% trans %}Ответы{% endtrans %}</div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="faq-instruction">

                        <div class="accordion" id="accordionAnswer">


                            <div class="card">
                                <div class="card-header" id="answeringOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseOneAnswer"
                                                aria-expanded="true" aria-controls="collapseOneAnswer">
                                            <span class="number">#1</span>
                                            <span class="name">{% trans %}Возвращение Домой{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOneAnswer" class="collapse" aria-labelledby="answeringOne"
                                     data-parent="#accordionAnswer">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>

                                                <div>
                                                    <span class="title ml-3">{% trans %}Попытки списались после отправки кода, а Награды не поступили на почту{% endtrans %}</span>
                                                </div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}<b>Неправильный код:</b> Правильный код состоит из 8 символов, написан на английском языке и содержит символы 0-9 и A-F, обновляется каждую акцию.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}<b>Очередь:</b> каждый код обрабатывается поочередно.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}<b>Сервера IGG:</b> награды приходят с задержкой. {% endtrans %}
                                                        {% trans %}Если в "записях" пишет кол-во приглашаемых аккаунтов, а награды не пришли - стоит обратиться в техническую поддержку игры, написав им, чтобы отправили награды.{% endtrans %}
                                                    </li>
                                                </ol>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="answeringTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwoAnswer"
                                                aria-expanded="false" aria-controls="collapseTwoAnswer">
                                            <span class="number">#2</span>
                                            <span class="name">{% trans %}Загадочный Пазл{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwoAnswer" class="collapse" aria-labelledby="answeringTwo"
                                     data-parent="#accordionAnswer">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>

                                                <div>
                                                    <span class="title ml-3">{% trans %}Бот выдает пустые коды{% endtrans %}</span>
                                                </div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}<b>Коды закончились:</b> обратитесь в службу поддержки{% endtrans %} <a
                                                            href="https://t.me/CCletsplay_bot" class="primary">@CCletsplay_bot</a>,
                                                        {% trans %}сообщите нам об этом, чтобы мы нафармили их.{% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="answeringThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThreeAnswer"
                                                aria-expanded="false" aria-controls="collapseThreeAnswer">
                                            <span class="number">#3</span>
                                            <span class="name">{% trans %}Великий Торговец{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThreeAnswer" class="collapse" aria-labelledby="answeringThree"
                                     data-parent="#accordionAnswer">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>
                                                <div>
                                                    <span class="title ml-3">{% trans %}Отправил(а) код боту, а Награды не приходят{% endtrans %}</span>
                                                </div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}<b>Очередь:</b> каждый код обрабатывается поочередно.{% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="answeringFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFourAnswer"
                                                aria-expanded="false" aria-controls="collapseFourAnswer">
                                            <span class="number">#4</span>
                                            <span class="name">{% trans %}10 Дней призов{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFourAnswer" class="collapse" aria-labelledby="answeringFour"
                                     data-parent="#accordionAnswer">
                                    <div class="card-body">
                                        <ul class="list-unstyled ml-5">
                                            <li>

                                                <div>
                                                    <span class="title ml-3">{% trans %}Хочу кинуть ссылку боту, но я боюсь за свои игровой аккаунт{% endtrans %}</span>
                                                </div>
                                                <ol class="ml-8 mb-8">
                                                    <br>
                                                    <li>
                                                        {% trans %}Уникальный ключ (signed key) доступен только вам. Этот ключ давать третьим лицам запрещено, кроме нашего бота.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}Сеансы каждого ключа действительны до двух недель, после чего генерируется новый ключ.{% endtrans %}
                                                    </li>
                                                    <br>
                                                    <li>
                                                        {% trans %}В первую очередь, мы используем ваш уникальный ключ (signed key) и IGG ID в рамках предоставления услуг.{% endtrans %}
                                                        {% trans %}Бот не может ничего сделать на вашем Аккаунте, а также не входит в саму игру.{% endtrans %}
                                                        {% trans %}Боту нужен только доступ к Событиям игры, а События никак не связаны с игрой.{% endtrans %}
                                                    </li>
                                                </ol>
                                            </li>
                                            </li>
                                            <center><a href="./policy" class="primary">Политика Конфиденциальности</a>
                                            </center>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center" id="other">
                <div class="col-12 text-center">
                    <div class="title">{% trans %}Другое{% endtrans %}</div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="faq-instruction">

                        <div class="accordion" id="accordionOther">

                            <div class="card">
                                <div class="card-header" id="otherOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseOneOther"
                                                aria-expanded="false" aria-controls="collapseOneOther">
                                            <span class="number">#1</span>
                                            <span class="name">{% trans %}Что такое проект Клуб игроков Castle Clash?{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOneOther" class="collapse" aria-labelledby="OtherOne"
                                     data-parent="#accordionOther">
                                    <div class="card-body">
                                        {% trans %}Клуб игроков Castle CLash — ресурс, который рассказывает обо всех новостях, инсайдах в мире Castle Clash.{% endtrans %}
                                        <br>
                                        <br>
                                        {% trans %}Сотрудничали с IGG RU, были звеном между игроками и сотрудниками компании. Передавали ошибки об игре, предложения и многое другое...{% endtrans %}
                                        <br>
                                        {% trans %}Для этого использовался официальный чат в Telegram вместе с IGG.{% endtrans %}
                                        <br>
                                        <br>
                                        {% trans %}Летом 2020 года, сообщество было закрыто.{% endtrans %}
                                        {% trans %}Спустя некоторое время мы вернулись, в декабре запустили новый проект с ботом, чтобы облегчить игрокам, участвуя в разных событиях игры.{% endtrans %}
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="otherTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwoOther"
                                                aria-expanded="false" aria-controls="collapseTwoOther">
                                            <span class="number">#2</span>
                                            <span class="name">{% trans %}Безопасно ли использовать бота?{% endtrans %}</span>
                                            <span class="indicator"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwoOther" class="collapse" aria-labelledby="OtherTwo"
                                     data-parent="#accordionOther">
                                    <div class="card-body">
                                        {% trans %}Да! Бот абсолютно безопасен. Мы не требуем данных от Вас (Почты Gmail, IGG Account и пароли).{% endtrans %}
                                        {% trans %}Обязательно прочтите <a href="./policy" class="primary">Политику Конфиденциальности</a> и <a href="./privacy" class="primary">Условия Предоставления Услуг</a>.{% endtrans %}
                                        <br>
                                        <br>
                                        {% trans %}У нас происходит волшебство, и игрок получает Награду на свой аккаунт.{% endtrans %}
                                        <br>
                                        <br>
                                        {% trans %}Ваша игровая учетная запись не может быть заблокирована, поскольку не нарушает TOS игры.{% endtrans %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
    {% endblock %}
