{% extends 'template.jinja2' %}
{% block content %}
    <main>
        <section class="banner">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-xl-8 col-12 position-relative">
                        <div class="main-banner">
                            <img src="../static/src/main-banner.png" alt="" class="w-100">
                        </div>
                        <div class="main-banner-text text-center">
                            {% trans %} Бот по Castle Clash - для тех, <br> кто ценит своё время. {% endtrans %}
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="about-info">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 order-1 order-lg-0">
                        <div class="desc">

                                <p>{% trans %}Почувствуйте новый опыт, пользуясь услугами проекта.{% endtrans %}</p>
                                <p>{% trans %}Экономьте время каждый раз, когда участвуете в Событиях Castle Clash, с помощью Telegram-бота.{% endtrans %}</p>
                                <div class="btn-container">
                                    <a href="https://t.me/cc_puzzle_bot" class="btn btn-primary">{% trans %}Попробовать{% endtrans %}</a>
                                </div>

                        </div>

                    </div>
                    <div class="col-xl-3 order-0 order-lg-1 mb-3 mb-xl-0">
                        <img src="../static/src/bg-main-block.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <section class="function-block" id="function">
            <div class="container">

                <div class="row">
                    <div class="col-12 position-relative">
                        <div class="img">
                            <img src="../static/src/bg-function.png" alt="" class="img-fluid">
                        </div>
                        <div class="description-wrapper">
                            <div class="title">{% trans %}Удивительные функции{% endtrans %}</div>
                            <div class="desc">
                                {% trans %}почувствуйте скорость выполнения заданий в событиях{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 mb-4">
                        <div class="item">
                            <div class="border-wrapper">
                                <div class="title-box">{% trans %}Интуитивно Понятный Интерфейс{% endtrans %}</div>
                                <div class="title-box">{% trans %}Переключайтесь между языками одним нажатием{% endtrans %}</div>
                            </div>
                            <div class="title-primary">
                                <img src=../static/src/Controls.png alt=""> {% trans %}Мультиязычность{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="item">
                            <div class="border-wrapper">
                                <div class="title-box">{% trans %}Международный платежный сервис{% endtrans %} <a
                                        href="https://t.me/letsplaycastleclash/3251" style="color: #EA4A4A">@donate</a>,
                                    {% trans %}ЮMoney, Qiwi, банковские карты{% endtrans %}
                                </div>
                                <div class="title-box">{% trans %}Платите удобным способом{% endtrans %}</div>
                            </div>
                            <div class="title-primary">
                                <img src=../static/src/Euro.png alt=""> {% trans %}Оплата{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="item">
                            <div class="border-wrapper">
                                <div class="title-box">{% trans %}Загадочный пазл, Возвращение домой{% endtrans %}</div>
                                <div class="title-box">{% trans %}Приобретайте платные функции{% endtrans %}</div>
                            </div>
                            <div class="title-primary">
                                <img src=../static/src/Coin.png alt=""> {% trans %}Валюта CastleCoin{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="item">
                            <div class="border-wrapper">
                                <div class="title-box">{% trans %}Данные хранятся в течении двух недель{% endtrans %}
                                </div>
                                <div class="title-box">{% trans %}Мы придерживаемся политики конфиденциальности{% endtrans %}</div>
                            </div>
                            <div class="title-primary">
                                <img src=../static/src/Data.png alt=""> {% trans %}Безопасность{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="item">
                            <div class="border-wrapper">
                                <div class="title-box">{% trans %}Стабильный и скоростной бот{% endtrans %}
                                </div>
                                <div class="title-box">{% trans %}Поддерживаем работоспособность бота и его функциями{% endtrans %}</div>
                            </div>
                            <div class="title-primary">
                                <img src=../static/src/Stable.png alt=""> {% trans %}Стабильность{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="item">
                            <div class="border-wrapper">
                                <div class="title-box">{% trans %}Поддержка 24/7, быстрая помощь{% endtrans %}
                                </div>
                                <div class="title-box">{% trans %}Отвечаем на ваши вопросы каждый раз, когда обращаетесь к нам{% endtrans %}
                                </div>
                            </div>
                            <div class="title-primary">
                                <img src=../static/src/Support.png alt=""> {% trans %}Служба поддержки{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="connection-stat">
            <div class="container">
                <div class="row">

                    <div class="col-xl-6 mb-4">
                        <div class="connection">
                            <div class="title">
                                {% trans %}Присоединяйтесь к нашему сообществу{% endtrans %}
                            </div>
                            <div class="desc">
                                {% trans %}Присоединяясь к нашему сообществу, Вы получите самую свежую информацию с инсайдами и халявой по Castle Clash.{% endtrans %}
                            </div>
                            <div class="btn-container">
                                <a href="https://t.me/letsplaycastleclash"
                                   class="btn btn-primary btn-small d-inline-flex align-items-center"><span
                                        class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path
                                        d="M560 32h-16c-8.84 0-16 7.16-16 16v12.94L47.28 172.41C45.61 165.36 39.56 160 32 160H16c-8.84 0-16 7.16-16 16v160c0 8.84 7.16 16 16 16h16c7.56 0 13.61-5.36 15.28-12.41l115.01 26.67c-1.17 5.78-2.28 11.6-2.28 17.74 0 53.02 42.98 96 96 96 44.19 0 80.99-29.99 92.08-70.66L528 451.06V464c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16V48c0-8.84-7.16-16-16-16zM256 432c-26.47 0-48-21.53-48-48 0-2.42.9-4.54 1.25-6.85l92.25 21.39C295.3 417.87 277.37 432 256 432zM48 290.5v-69l480-111.31V401.8L48 290.5z"/></svg></span>Канал</a>
                                <a href="https://t.me/ccletsplay"
                                   class="btn btn-dark btn-small d-inline-flex align-items-center"><span class="icon"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path
                                        d="M512 160h-96V64c0-35.3-28.7-64-64-64H64C28.7 0 0 28.7 0 64v160c0 35.3 28.7 64 64 64h32v52c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4l76.9-43.5V384c0 35.3 28.7 64 64 64h96l108.9 61.6c2.2 1.6 4.7 2.4 7.1 2.4 6.2 0 12-4.9 12-12v-52h32c35.3 0 64-28.7 64-64V224c0-35.3-28.7-64-64-64zM64 256c-17.6 0-32-14.4-32-32V64c0-17.6 14.4-32 32-32h288c17.6 0 32 14.4 32 32v160c0 17.6-14.4 32-32 32H215.6l-7.3 4.2-80.3 45.4V256zm480 128c0 17.6-14.4 32-32 32h-64v49.6l-80.2-45.4-7.3-4.2H256c-17.6 0-32-14.4-32-32v-96h128c35.3 0 64-28.7 64-64v-32h96c17.6 0 32 14.4 32 32z"/></svg></span>Группа</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="stat mb-5">
                            <div class="title">{% trans %}СТАТИСТИКА{% endtrans %}</div>
                            <div class="desc">{% trans %}У бота отличная репутация и мы гордимся, что игроки выбрали наш продукт.{% endtrans %}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="item">
                                    {% trans %}30к+ <br> активных игроков{% endtrans %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    {% trans %}35к+ <br> аудитории{% endtrans %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    {% trans %}10к+ <br> подписчиков{% endtrans %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="pricing" id="price">
            <div class="container">

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">{% trans %}Прейскурант{% endtrans %}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="pricing-item">
                            <div class="row justify-content-center">
                                <div class="col-xl-3 col-6 d-flex flex-column">
                                    <div class="item">
                                        <div class="title">{% trans %}Загадочный пазл{% endtrans %}</div>
                                        <div class="summary">
                                            <ul class="parametrs">
                                                <li>{% trans %}30 фрагментов{% endtrans %}</li>
                                                <li>{% trans %}без интервала{% endtrans %}</li>
                                                <li>{% trans %}для 1 аккаунта{% endtrans %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="img mb-4">
                                        <img src="../static/src/bottom-item.png" alt="" class="img-fluid">
                                        <div class="price">
                                            ₽10
                                        </div>
                                    </div>

                                    <div class="btn-container text-center">
                                        <div><a href="./payment" class="btn btn-dark">
                                            {% trans %}Перейти{% endtrans %}</a></div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-6 d-flex flex-column">
                                    <div class="item">
                                        <div class="title">{% trans %}Возвращение домой{% endtrans %}</div>
                                        <div class="summary">
                                            <ul class="parametrs">
                                                <li>{% trans %}25 попыток{% endtrans %}</li>
                                                <li>{% trans %}попытки не сгорают{% endtrans %}</li>
                                                <li>{% trans %}для 1 аккаунта{% endtrans %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="img mb-4">
                                        <img src="../static/src/bottom-item.png" alt="" class="img-fluid">
                                        <div class="price">
                                            ₽100
                                        </div>
                                    </div>

                                    <div class="btn-container text-center">
                                        <div><a href="./payment" class="btn btn-dark">{% trans %}Перейти{% endtrans %}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="team" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">{% trans %}Команда{% endtrans %}</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-3 mb-4">
                        <div class="item">
                            <div class="avatar">
                                <img src="../static/src/alexandr.png" alt="" class="img-fluid">
                            </div>
                            <div class="summary">
                                <div class="name">{% trans %}Александр{% endtrans %}</div>
                                <div class="post">{% trans %}Руководитель проекта{% endtrans %}</div>
                            </div>
                            <a href="https://t.me/aleksandr_safonov" class="tg-link"><span
                                    class="text-btn">Telegram</span> <span class="icon"><svg width="57" height="48"
                                                                                             viewBox="0 0 57 48"
                                                                                             fill="none"
                                                                                             xmlns="http://www.w3.org/2000/svg">
<path d="M56.9778 4.16579C56.1879 12.5989 52.77 33.0633 51.0305 42.5086C50.2948 46.5051 48.8459 47.8452 47.4435 47.9762C44.3958 48.2613 42.0808 45.9296 39.1285 43.9632C34.5089 40.8863 31.8991 38.9709 27.4147 35.9684C22.2325 32.4986 25.592 30.5922 28.5453 27.4741C29.3183 26.6584 42.7483 14.2465 43.0082 13.1206C43.0406 12.9797 43.0717 12.4539 42.764 12.1778C42.4562 11.9017 42.0042 11.9952 41.6772 12.0703C41.214 12.1772 33.834 17.1335 19.5372 26.939C17.4426 28.4005 15.5452 29.1126 13.8452 29.0753C11.971 29.0342 8.36604 27.9988 5.68596 27.1134C2.39886 26.0279 -0.213708 25.4539 0.0138125 23.6101C0.132335 22.6496 1.43396 21.6675 3.9187 20.664C19.2202 13.8903 29.4236 9.42447 34.5288 7.26655C49.1054 1.1061 52.1342 0.0360332 54.1085 0.000335452C54.5428 -0.00697614 55.5136 0.10227 56.1424 0.620748C56.5607 0.990088 56.8273 1.50549 56.8895 2.065C56.9961 2.75972 57.0257 3.46438 56.9778 4.16579Z"
      fill="white"/>
</svg>
</span></a>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">

                    <div class="col-xl-3 mb-4">
                        <div class="item">
                            <div class="avatar">
                                <img src="../static/src/vitaliy.png" alt="" class="img-fluid">
                            </div>
                            <div class="summary">
                                <div class="name">{% trans %}Виталий{% endtrans %}</div>
                                <div class="post">{% trans %}Специалист технической поддержки{% endtrans %}</div>
                            </div>
                            <a href="https://t.me/Castle0Clash" class="tg-link"><span class="text-btn">Telegram</span>
                                <span class="icon"><svg width="57" height="48" viewBox="0 0 57 48" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
<path d="M56.9778 4.16579C56.1879 12.5989 52.77 33.0633 51.0305 42.5086C50.2948 46.5051 48.8459 47.8452 47.4435 47.9762C44.3958 48.2613 42.0808 45.9296 39.1285 43.9632C34.5089 40.8863 31.8991 38.9709 27.4147 35.9684C22.2325 32.4986 25.592 30.5922 28.5453 27.4741C29.3183 26.6584 42.7483 14.2465 43.0082 13.1206C43.0406 12.9797 43.0717 12.4539 42.764 12.1778C42.4562 11.9017 42.0042 11.9952 41.6772 12.0703C41.214 12.1772 33.834 17.1335 19.5372 26.939C17.4426 28.4005 15.5452 29.1126 13.8452 29.0753C11.971 29.0342 8.36604 27.9988 5.68596 27.1134C2.39886 26.0279 -0.213708 25.4539 0.0138125 23.6101C0.132335 22.6496 1.43396 21.6675 3.9187 20.664C19.2202 13.8903 29.4236 9.42447 34.5288 7.26655C49.1054 1.1061 52.1342 0.0360332 54.1085 0.000335452C54.5428 -0.00697614 55.5136 0.10227 56.1424 0.620748C56.5607 0.990088 56.8273 1.50549 56.8895 2.065C56.9961 2.75972 57.0257 3.46438 56.9778 4.16579Z"
      fill="white"/>
</svg>
</span></a>
                        </div>
                    </div>

                    <div class="col-xl-3 mb-4">
                        <div class="item">
                            <div class="avatar">
                                <img src="../static/src/vladislav.png" alt="" class="img-fluid">
                            </div>
                            <div class="summary">
                                <div class="name">{% trans %}Владислав{% endtrans %}</div>
                                <div class="post">
                                    <div>{% trans %}Контент-менеджер{% endtrans %};</div>
                                    <div>{% trans %}Специалист технической поддержки{% endtrans %};</div>
                                    <div>{% trans %}Дизайнер{% endtrans %}</div>
                                </div>
                            </div>
                            <a href="https://t.me/Autumn_in_the_air" class="tg-link"><span
                                    class="text-btn">Telegram</span> <span class="icon"><svg width="57" height="48"
                                                                                             viewBox="0 0 57 48"
                                                                                             fill="none"
                                                                                             xmlns="http://www.w3.org/2000/svg">
<path d="M56.9778 4.16579C56.1879 12.5989 52.77 33.0633 51.0305 42.5086C50.2948 46.5051 48.8459 47.8452 47.4435 47.9762C44.3958 48.2613 42.0808 45.9296 39.1285 43.9632C34.5089 40.8863 31.8991 38.9709 27.4147 35.9684C22.2325 32.4986 25.592 30.5922 28.5453 27.4741C29.3183 26.6584 42.7483 14.2465 43.0082 13.1206C43.0406 12.9797 43.0717 12.4539 42.764 12.1778C42.4562 11.9017 42.0042 11.9952 41.6772 12.0703C41.214 12.1772 33.834 17.1335 19.5372 26.939C17.4426 28.4005 15.5452 29.1126 13.8452 29.0753C11.971 29.0342 8.36604 27.9988 5.68596 27.1134C2.39886 26.0279 -0.213708 25.4539 0.0138125 23.6101C0.132335 22.6496 1.43396 21.6675 3.9187 20.664C19.2202 13.8903 29.4236 9.42447 34.5288 7.26655C49.1054 1.1061 52.1342 0.0360332 54.1085 0.000335452C54.5428 -0.00697614 55.5136 0.10227 56.1424 0.620748C56.5607 0.990088 56.8273 1.50549 56.8895 2.065C56.9961 2.75972 57.0257 3.46438 56.9778 4.16579Z"
      fill="white"/>
</svg>
</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="partners">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="title">{% trans %}Партнёр{% endtrans %}</div>
                    </div>
                    <div class="col-xl-8 col-12">
                        <div class="item">
                            <a href="https://www.youtube.com/c/АндрейРылёв">
                                <div class="image"><img src="../static/src/partner-1.png" alt="" class="img-fluid">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
