{% extends 'template.jinja2' %}
{% block content %}
<main>

<section class="policy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title text-center">
                    {% trans %}Политика конфиденциальности{% endtrans %}
                </div>

                <p class="primary">{% trans %}Последнее изменение: 21 января (четверг), 2021 г.{% endtrans %}</p>

                <div class="summary-desc">
                    <p>{% trans %}Мы храним личные данные (идентификатор Telegram) и данные игры:{% endtrans %}</p>

                    <ul class="primary">
                        <li>{% trans %}уникальный ключ{% endtrans %}</li>
                        <li>IGG ID</li>
                    </ul>

                    <p>
                        {% trans %}которые могут быть связаны с вашим идентификатором пользователя Telegram.{% endtrans %}
                        {% trans %}Наши системы могут связывать эту личную информацию (Telegram ID) с вашими данными игры в процессе предоставления вам услуг.{% endtrans %}
                        {% trans %}Кроме этого, никакие другие личные данные не хранятся.{% endtrans %}
                    </p>

                    <ol>
                        <li> {% trans %}Пользователь соглашается с тем, что Владелец бота вправе хранить информацию Пользователя. Пользователь может обратится в нашу поддержку, потребовав удалить ссылку.{% endtrans %}</li>
                        <li> {% trans %}Эта Политика применяется только к боту <a href="https://t.me/cc_puzzle_bot" class="primary">@cc_puzzle_bot</a>, не контролирует и не несет ответственности за третьих лиц, когда пользователь добровольно предоставляет свои данные о игре (<span class="primary">уникальный ключ</span>) для общего доступа к неограниченному количеству людей.{% endtrans %}</li>
                        <li> {% trans %}Мы собираем и храним только те персональные данные, которые нужны для предоставления услуг. Передача информации необходима в рамках использования бота <a href="https://t.me/cc_puzzle_bot" class="primary">@cc_puzzle_bot</a>.{% endtrans %}</li>
                        <li> {% trans %}Сеансы каждого ключа действительны до двух недель, после чего генерируется новый ключ, а старый будет недоступен для использования.{% endtrans %}</li>
                    </ol>

                    <p>
                        {% trans %}Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы уведомим Вас о любых изменениях, разместив новую Политику конфиденциальности на этой странице, в личном сообщении с ботом и на канале{% endtrans %} <a href="https://t.me/letsplaycastleclash" class="primary">@letsplaycastleclash</a>.
                        {% trans %}Рекомендуется периодически просматривать данную Политику конфиденциальности на предмет изменений. Изменения в данной Политике конфиденциальности вступают в силу с момента их публикации на этой странице.{% endtrans %}
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

</main>

{% endblock %}
