{% extends 'template.jinja2' %}
{% block content %}
<main>

    <section class="privacy">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title text-center">
                        {% trans %}Условия предоставления услуг{% endtrans %}
                    </div>

                    <p class="primary">{% trans %}Последнее изменение: 21 января (четверг), 2021 г.{% endtrans %}</p>

                    <div class="summary-desc">
                        <p>{% trans %}Оформив подписку на <a href="" class="primary">@cc_puzzle_bot</a>, Пользователь считается принявшим настоящие Условия. В случае несогласия Пользователя с положениями указанных Условий, Пользователь обязан прекратить подписку на
                            <a href="" class="primary">@cc_puzzle_bot</a> путем отключения бота.{% endtrans %}</p>

                        <p class="primary">{% trans %}Подписка на бота{% endtrans %}</p>

                        <ol>
                            <li>{% trans %}Полный и актуальный перечень возможностей и функций, доступных в текущий момент в рамках оплаченной подписки на Castle Clash Bot, приведен{% endtrans %}
                                <a href="https://letsplaycastleclash" class="primary">{% trans %}здесь{% endtrans %}</a>.</li>
                            <li>{% trans %}Возврат средств за соответствующий период подписки или функционала является отказом Пользователя от продления подписки на Castle Clash Bot. В таком случае доступ к полному функционалу Castle Clash Bot прекращается, если не были нарушены <a href="/faq" class="primary">Порядок возврата средств</a> (#2 Покупка; Промокод; Воврат средств).{% endtrans %}</li>
                            <li>{% trans %}Пользователь понимает и соглашается с тем, что перечень возможностей и функций, предоставляемый в рамках Castle Clash Bot и приведенный на <a href="index#price" class="primary">здесь</a>, может изменяться, в т.ч. дополняться/сокращаться.{% endtrans %}</li>
                            <li>{% trans %}Пользователь принимает и соглашается с тем, что любое изменение перечня функций в указанном выше порядке, не является основанием для отмены подписки на функционал, пересмотра ее стоимости на оплаченный Период подписки или возврата денежных средств.{% endtrans %}</li>
                            <li>{% trans %}Владелец или команда бота оставляют за собой право на свое усмотрение отказать Пользователю в доступе или ограничить к определенным функциям Сервиса, без предварительного уведомления.{% endtrans %}</li>
                            <li>{% trans %}Владелец бота предпримет все разумные меры и осуществит любые целесообразные действия, направленные на поддержание работоспособности сервисов Castle Clash Bot. Пользователь при этом осознает возможность возникновения технических неисправностей и сбоев в работе указанных сервисов и согласен с тем, что у Команды или Владельца бота отсутствует техническая возможность предсказать их возникновение, уведомить о них Пользователя заблаговременно, либо полностью исключить вероятность их возникновения.{% endtrans %}</li>
                            <li>{% trans %}Бот предназначен для помощи игрокам в различных событиях, в игре Castle Clash.{% endtrans %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}
